<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Best of</a>
            <div>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary" href="/movies">Movies</a>
                    <a class="btn btn-outline-primary" href="/songs">Songs</a>
                </div>
            </div>
        </div>
    </nav>

</body>

</html>