<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Best of the Year</title>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>
</head>

<body>
    <header>
        <th:block th:replace="fragments/nav :: nav"></th:block>

    </header>
    <main>
        <h1 class="px-4 py-3 d-flex justify-content-center">Best of by <span th:text="${name}" class="px-3"></span></h1>
        <div class="container text-center">
            <img src="https://picsum.photos/300/300" alt="image">
            <p class="py-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur dolore dignissimos,
                perspiciatis maxime
                labore assumenda vero quod ullam! Nisi perferendis dolore totam voluptate itaque quaerat quam, quos
                nulla iure distinctio?</p>
        </div>
    </main>
</body>

</html>