<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>

    <title>Movies</title>
</head>

<body>
    <header>
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </header>
    <main>
        <div class="movie-list d-f justify-content-center text-center">
            <ul>
                <h3>Best Movies</h3>
                <a href="">
                    <li th:each="title : ${titles}" th:text="${title}"></li>
                </a>
            </ul>

        </div>
    </main>
    <footer></footer>
</body>

</html>