<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>

    <title>Songs</title>
</head>

<body>
    <header>
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </header>
    <main>
        <div class="song-list d-f justify-content-center text-center">
            <ul>
                <h3>Best Songs</h3>
                <li th:each="title : ${titles}" th:text="${title}"></li>
            </ul>

        </div>
    </main>
    <footer></footer>
</body>

</html>